.popup-overlay {
  top: 100px;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  justify-self: anchor-center;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: white;
  overflow-y: auto;
  padding: 20px 20px;
}

.form-group label {
  font-weight: bold;
  font-size: 15px;
}

.access-rights {
  margin-top: 15px;
}

.modules {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr); 
}

.module-group {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-top: 5px;
  width: auto;
  height: auto;
}

.module-title {
  display: flex;
  font-weight: bold;
  gap: 5px;
  font-size: 14px;
}

.module-checkbox {
  padding: 0;
}

.access-rights label {
  font-weight: bold;
}

.permissions label {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  gap: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

