.access-popup-form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.access-popup-content {
  background: white;
  padding: 20px 20px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 8px;
}

.form-group label {
  font-size: 13px;
  color: #393939;
}

.access-rights {
  margin-top: 10px;
}

.modules {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr); 
}

.module-group {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-top: 5px;
  width: auto;
  height: auto;
}

.module-title {
  display: flex;
  font-weight: bold;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.module-checkbox {
  padding: 0;
}

.access-rights label {
  font-size: 13px;
  color: #393939;
}

.permissions label {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  gap: 5px;
  margin-bottom: 5px;
}


