  .audit-maintenance-container {
    padding: 20px;
  }

  .audit-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .audit-table th,
  .audit-table td {
    padding: 10px;
    text-align: center;
  }
  
  .audit-table th {
    color: black;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }

  .audit-table td {
    font-size: 14px;
  }
  
  .audit-table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .audit-header {
    margin-bottom: 20px;
  }
  
  .items-per-page-select {
    margin: 0px 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination span {
    font-size: 14px;
  }
  
