.popup-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); 
}

.popup-content {
  background: white;
  padding: 20px 20px;
  width: 50%;
  max-height: 100vh;
  border-radius: 8px;
}

.popup-form {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr); 
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
}

.form-group label {
  font-size: 13px;
  color: #393939;
}

.form-group input {
  padding: 7px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[readonly] {
  background-color: #f0f0f0; 
  color: #000; 
  cursor: not-allowed; 
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button {
  padding: 10px 20px;
  background-color: #1e90ff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 31px;
  min-height: 31px !important;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 13px;
}

.css-1xc3v61-indicatorContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: hsl(0, 0%, 80%);
  box-sizing: border-box;
  padding: 0px !important; 
}

.uom-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.uom-container h4 {
  font-size: 16px;
  margin-bottom: 0px;
  color: #333;
  text-align: center;
}

.uom-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.uom-group input {
  padding: 7px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.uom-group input[disabled] {
  background-color: #f0f0f0;
  color: #666;
  cursor: not-allowed;
}

.uom-group .error-message {
  color: red;
  font-size: 12px;
  grid-column: span 4;
}

.add-uom-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #1e90ff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.remove-uom-button {
  padding: 6px 12px;
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  align-self: end;
}

.add-uom-button:hover,
.remove-uom-button:hover {
  opacity: 0.6;;
}

/* .member-point-form-group input[readonly] {
  background-color: #f0f0f0; 
  color: #000; 
  cursor: not-allowed; 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.member-point-form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
   */