.maintenance-container {
  padding: 20px;
}

.breadcrumb {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.back-link {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

.maintenance-sections {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.maintenance-section {
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 10px;
}

.maintenance-section:first-child {
  border-left: none;
}

.maintenance-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.maintenance-item {
  display: flex;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 18px;
  color: #333;
  align-items: center;
  margin-bottom: 10px;
}

.maintenance-item i {
  font-size: 1.2rem;
}

.maintenance-item:hover {
  color: #1e90ff
}

.maintenance-header {
  display: flex;
  margin-bottom: 15px;
}

.pagination-controls {
  flex: 7;
}

.items-per-page-select {
  margin: 10px 8px;
  padding: 5px 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  font-size: 15px;
}

.add-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 0px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  align-self: center;
}
  
.add-button:hover {
  background-color: #002299;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px 8px;
  text-align: left;
  font-size: 14px;
}

.table th {
  color: black;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 15px 0px 0px;
}

.action-button.edit {
  color: #007bff;
}

.action-button.delete {
  color: #dc3545;
}

.action-button.view {
  color: #28a745;
}

.search-container {
  width: auto;
  margin: 5px;
}

.search-input {
  padding: 10px;
  width: 50%;
}
  
  
  