.sidebar {
  width: 220px;
  background-color: #1e90ff;
  color: #F8F9FA;
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.collapsed {
  width: 60px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menu-section-title {
  padding: 0px 15px;
  font-size: 15px;
  color: #F8F9FA;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 35px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  justify-self: auto;
}

.menu-item:hover {
  background-color: #1C86EE;
}

.menu-item.active {
  background-color: #1C86EE;
}

.menu-icon i {
  font-size: 1.3rem;
}

.menu-icon {
  margin-right: 15px;
  width: 30px;
  align-self: center;
}

.sidebar.collapsed .menu-icon {
  margin-right: 10px;
}

.menu-text {
  font-size: 18px;
}
