.open-counter-button {
  background-color: #002462;
  color: white;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  font-weight: bold;
}

.open-counter-button:hover {
  background-color: #002299;
}

.transaction-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #002462;
  padding: 20px;
  color: white;
}

.sidebar-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #002462;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar-button.active,
.sidebar-button:hover {
  background-color: #001a4d;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.cash-management {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.cash-in label,
.cash-out label {
  font-weight: bold;
}

.cash-in,
.cash-out {
  flex: 1;
}

.cash-amount {
  display: flex;
  gap: 10px;
}

.add-cash-button {
  background-color: #002462;
  margin-bottom: 15px;  
  border-radius: 3px;
  color: white;
}

.add-cash-button:hover {
  background-color: #002299;
}

.transaction-table table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
}

.transaction-table tfoot td {
  font-weight: bold;
}
